version: '3.8'

services:
  db:
    image: postgres:latest
    container_name: finance_tracker_db
    environment:
      POSTGRES_DB: finance_tracker_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
